streamlit
pydantic
pydantic-settings
pyyaml
python-dotenv
requests
pandas
numpy

pytest
httpx

mlflow

chromadb

torch
transformers
sentence-transformers

ollama

opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp